<h2>Bienvenido</h2>

<%= form_for(:session, :url => sessions_path) do |f| %>

<div class="field signin">
	<%= f.label :email  %>
	<%= f.email_field :email %>
</div>

<div class="action signin">
	<%= f.submit "Entrar" %>	
</div>
<% end %>
